@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

/* * {
  border: solid red 2px;
} */

.html {
  scroll-behavior: smooth;
}

:root {
  --lightGreen: #cddfae;
  --darkGreen: #65a888;
  --pandaLight: #504256;
  --pandaDark: #524956;
  --lightPink: #fbe4ea;

  --flowertop: -1px;

}


body {
  background:#cddfae;
  transition-duration: 300ms;
  animation-duration: 300ms;
  transition: 0.3s ease-in;
}

.side-socials {
  position: fixed;
  top: 70vh;
  left: 30px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
}

.side-socials a {
  color: #65a888;
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
}

.side-socials a:hover,
.side-email a:hover {
  color: #504256;
    transform: translateY(-2px);
}

.side-socials::after {
  content: '';
  position: absolute;
  top: calc(100% + 2rem);
  height: 100%;
  width: 1px;
  background: #65a888; 
}

.side-email {
  position: fixed;
  top: 70vh;
  right: 30px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
}

.side-email::after {
  content: '';
  position: absolute;
  top: calc(100% + 2rem);
  height: 100%;
  width: 1px;
  background: #65a888; 
}

.vertical-text {
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

.nav {
  position: fixed;
  top: 10px;
  right: 30px;
  /* border: solid red 1px; */
}

.nav::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 90%;
  background-color: #65a888;
  right: -8px;
}

.nav::before {
  content:"";
  position: absolute;
  width: 30px;
  height: 30px;
  /* border: solid red 1px; */
  background-color: transparent;
  background-image: url("/miniFlower.svg");
  background-size:contain;
  z-index: 2;
  transition: 300ms;
  background-repeat: no-repeat;
  top: var(--flowertop);
  right: -24px;
}


.nav-items::after {
  content:"";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 25px;
  border: #65a888 solid 1px;
  margin-top: 4px;
  margin-left: 14px;
  background-color: #cddfae;
  z-index: 2;
}

.nav-items:hover::after {
  content:"";
  position: absolute;
  width: 30px;
  height: 30px;
  margin-top: -5px;
  margin-left: 7px;
  border: none;
  background-color: transparent;
  background-image: url("/miniFlower.svg");
  background-size: contain;
  z-index: 2;
  transition: 300ms;
}

/* #homelink::after {
  background-image: var(--hflower);
  background-size: contain;
  width: var(--hSize);
  height: var(--hSize);
  margin-top: var(--hmt);
  margin-left: var(--hml);
  border: var(--hborder);
} */

.nav-items::after:hover {
  transform:translateY(0);
}

.work-a, .redbubble, .art-insta {
  position: relative;
}

.work-a::after, .redbubble::after, .art-insta::after {
  content:"";
  position:absolute;
  top:20px;
  height: 2px;
  width: 0px;
  background-color:#65a888;
  transition: 300ms;
  right: calc(100% - 0px);
}

.work-a:hover::after, .redbubble:hover::after, .art-insta:hover::after {
  content:"";
  height: 2px;
  background-color: #65a888;
}

.work-a:hover::after {
  width: 68px;
  right: calc(100% - 68px);
}

.redbubble:hover::after {
  width: 67px;
  right: calc(100% - 67px);
}

.art-insta:hover::after {
  width: 40px;
  right: calc(100% - 40px);
}



@media (max-width: 375px) {
  .myName {
    font-size: 3rem;
  }

  .hero-container {
    height: 75%;
  }
}

.skills::after {
  top: calc(100% + 0.3rem);
}

@media (max-width: 1300px) {
  .proj-contain-2 {
    height: 100vh;
    width: 60vw;
  }
}

@media (max-width: 1096px) {
  .proj-contain-2 {
    height: 100vh;
    width: 48vw;
  }

  .arttext-contain, .proj-and {
    font-size: 2rem;
  }

  .arttext-contain img {
    position: absolute;
    height: 100%;
    left: 4.5rem;
    top: -1.75rem;
  }

  .projtext-contain {
    font-size: 3rem;
  }

  .projtext-contain img {
    height: 80%;
    top: -2.3rem;
    left: 1.9rem;
  }

  .projandart-contain {
    height: 43%;
  }

  .artboxes {
    height: 35%;
  }

  .proj-headers-contain {
    height: 15%;
  }
  
}

@media (max-width: 885px) {

  .arttext-contain, .proj-and {
    font-size: 1.5rem;
  }

  .arttext-contain img {
    position: absolute;
    height: 100%;
    left: 2.5rem;
    top: -1.2rem;
  }

  .projtext-contain {
    font-size: 2.5rem;
  }

  .projtext-contain img {
    height: 80%;
    top: -1.9rem;
    left: 1.05rem;
  }

  .proj-headers-contain {
    height: 13%;
  }
  
}

@media (max-width: 768px) {
  .proj-contain-1 {
    height: 100vh;
    width: 100%;
  }

  .proj-contain-2 {
    width: 90%;
  }

  .arttext-contain, .proj-and {
    font-size: 2rem;
  }

  .arttext-contain img {
    position: absolute;
    height: 100%;
    left: 4.5rem;
    top: -1.75rem;
  }

  .projtext-contain {
    font-size: 3rem;
  }

  .projtext-contain img {
    height: 80%;
    top: -2.3rem;
    left: 1.9rem;
  }

  .proj-headers-contain {
    height: 15%;
  }
  
}

@media (max-width: 530px) {
  .proj-contain-1 {
    height: 200vh;
    width: 100%;
    margin-top: 2rem;
  }

  .proj-contain-2 {
    height: 100%;
    width: 90%;
    justify-content: start;
  }

  .projtext-flex {
    justify-content: center;
    height: auto;
  }

  .proj-headers-contain {
    height: 10%;
  }

  .proj-and {
    display: none;
  }

  .arttext-contain {
    font-size: 3rem;
  }

  .arttext-contain img {
    position: absolute;
    height: 90%;
    left: 8.6rem;
    top: -2.2rem;
  }

  .arttext-flex {
    position: absolute;
    top: calc(10% + 45rem);
    left: 0;
    align-items: center;
    justify-content: center;
    height: auto;
  }

  .projandart-contain {
    flex-direction:column;
    height: auto;
  }

  .projproj-contain {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 90%;
  }

  .projboxes {
    height: 10rem;
    width: 17rem;
    margin: 0.3rem;
    border-radius: 0.75rem;
  }

  .proj-cover {
    border-radius: 0.75rem;
  }

  .artboxes-contain {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 90%;
    margin-top: 8rem;
  }

  .artboxes {
    height: 11rem;
    width: 8rem;
    margin: 0.2rem;
  }

  .art-purchase {
    width: 16.4rem;
    margin-top: 0.4rem;
  }
  
}

@media (max-width: 414px) {
  .projproj-contain, .artboxes-contain {
    width: 100%;
  }

  .artboxes {
    height: 9rem;
    width: 7rem;
    margin: 0.1rem;
  }

  .projboxes {
    height: 10rem;
    width: 15rem;
    margin: 0.3rem 0rem;
    border-radius: 0.75rem;
  }
}

