@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

/* * {
  border: solid red 2px;
} */


:root {
  --lightGreen: #cddfae;
  --darkGreen: #65a888;
  --pandaLight: #504256;
  --pandaDark: #524956;
  --lightPink: #fbe4ea;
}


body {
  background:#cddfae;
  transition-duration: 300ms;
  animation-duration: 300ms;
  transition: 0.3s ease-in;
}

.side-socials {
  position: fixed;
  top: 70vh;
  left: 30px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
}

.side-socials a {
  color: #65a888;
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
}

.side-socials a:hover,
.side-email a:hover {
  color: #504256;
    transform: translateY(-2px);
}

.side-socials::after {
  content: '';
  position: absolute;
  top: calc(100% + 2rem);
  height: 100%;
  width: 1px;
  background: #65a888; 
}

.side-email {
  position: fixed;
  top: 70vh;
  right: 30px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
}

.side-email::after {
  content: '';
  position: absolute;
  top: calc(100% + 2rem);
  height: 100%;
  width: 1px;
  background: #65a888; 
}

.vertical-text {
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

.nav {
  position: fixed;
  top: 10px;
  right: 30px;
}

.nav::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 90%;
  background-color: #65a888;
  right: -8px;
}

.nav-items::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 25px;
  border: #65a888 solid 1px;
  margin-top: 4px;
  margin-left: 14px;
  background-color: #cddfae;
  z-index: 2;
}

.nav-items::after:hover {
  transform:translateY(0);
}

.work-a {
  position: relative;
}

.work-a::after {
  content:"";
  position: absolute;
  top: 20px;
  right: calc(100% - 0px);
  height: 2px;
  width: 0px;
  background-color: #65a888;
  transition: 300ms;
}

.work-a:hover::after {
  content:"";
  height: 2px;
  width: 68px;
  right: calc(100% - 68px);
  background-color: #65a888;

}
